body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#score-list {
    font-size: 1.2rem;
    color: dimgrey;    
}

#scoresTitle {
    padding-left: 1rem;
}
#questions {
    text-align: center;
}